body{
  background: #0a0f1e;
  font-family: "Figtree", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    color: #e8f4ff;
}
h2{
  font-family: "Orbitron", sans-serif;
    font-weight: 600;
    font-size: 36px;
    line-height: 1.2;
    color: #7b4fff;
    padding-bottom: 8px;
    border-bottom: 1px solid #7b4fff;
    margin-bottom: 64px;
}
@media only screen and (min-width: 1440px) {
  body{
  font-size: 18px;
  }
  h2{
    font-size: 48px;
  }
}